body{
    background-color: rgb(128, 98, 118);
    width: 700px;
    margin: auto;
}

img{
    height: 80%;
    width:  80%;
    object-fit: contain;
}

.imagemPerfil{
    height: 300px;
    width: 300px;
    padding: 15px;
    margin: 15px;
    border-radius: 100px;
}
.post{
    background: rgb(206, 189, 189);
    padding: 10px;
    border: 2px solid rgb(128, 5, 81);
    margin: 15px;
    border-radius: 10px;
}


#titulo{
    color:rgb(54, 21, 54);
    font-style: italic;
    margin-left: 25px;
    font-size: 25px;
    text-transform: uppercase;
}

.sub-titulo{
    color: rgb(128, 39, 116);
    font-style: italic;
    margin: 5px;
    margin-left: 25px;
    font-size: 20px;
}

.post_titulo{
    color: rgb(128, 39, 116);
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 20px;
}

.biografia{
    /*Texto ficará alinhado*/
    text-align: justify;
    /*Todas as margens terão a mesma proporção*/
    margin: 10px;
}


.lista_de_contatos{
    /*Deixando a lista sem marcador*/
    list-style-type: none;
    padding-left: 30px;
}

.lista_de_contatos li{
    color: rgb(72, 5, 85);
}


